@import '../abstracts/mixins';

.form_container{
  padding:2rem;   
}

.form{
    display:flex;
    margin: 0 auto;
    width:50%;
    flex-direction: column;
    align-items: flex-start;
   
    &__input{
        height:20rem;       
    }

    &__input,
    &__title,
    &__author{
     padding: 1rem 2rem;
     border: 1px solid $medium-grey;
     margin-bottom: 1.5rem;
     width:100%;

     &:focus{
        background-color: $light-grey;
        outline: none;
     }

  //    @include response(phone-moto){
  //     width:100%;
  //     padding: 1.25rem 2rem;
  // }      
      @include response(phone){
        padding: 1.25rem 2rem;
}      

    //  @include response(tab-land){
    //   width:70%;      
    // }
    // @include response(tab-port){
    //   width:100%;
    //   }            
  
    }
    @include response(phone){
      width:90%;
    }   
    
    // &__title,
    // &__author{
    //     align-self: flex-start;
    //  }

     &__label{
        font-size:2.5rem; 
        margin-right: 1rem;
     }


}
//reg form
.regForm{
    // margin: auto 10rem;
    padding: 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // width:40rem;

    & > *{
      font-size:2.5rem; 
      
      @include response(tab-port){
        font-size:2rem;
      }
     
      @include response(phone){
        font-size:1.5rem;
      }
    }

    &__formGroup{
        display: flex;
        flex-direction: column;
    }

      .email__input,
      .pwd__input{ 
          font-family: 'Amatic SC', cursive;
          padding: 1rem 1.5rem;
          margin-bottom: 1.5rem;
          font-size: 3rem;
          border: 1px solid $medium-grey;
       
          @include response(phone){
              padding: 1rem;
              font-size: 2.5rem;              
              }
      
        }
}

