@import '../abstracts/mixins';

.form{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    

    &__input{
     width:40rem;
     height:20rem;
     padding: 1.5rem 2rem;
     border-radius: 2rem;
     background-color: $light-grey;
     border:none;
     margin-bottom: 1.5rem;

     &__title{
        width:40rem;
        height:5rem;
        align-self: flex-start;
     }

     &__author{
        width:40rem;
        height:5rem;
        align-self: flex-start;
     }   


     &:focus{
         border-radius: 2rem;
         border: none;
         background-color: $light-green;
         outline: none;
     }
    
        @include response(phone-moto){
            width:20rem;
            padding: 1.25rem 2rem;
            }
    
    }
        @include response(phone){
            align-items: flex-start;
        }

    

}

