.stories_container{
    margin:auto 30rem;

    @include response(tab-land){
        margin: auto 20rem;
    }

    @include response(tab-port){
        margin: auto 10rem;
    }
    @include response(phone){
        margin: auto 2.5rem;
    }


}

.story{
    font-size: 3.5rem;
    margin-top: 5rem;
    padding:2rem;    
    

    &__content{
        
    }

    @include response(phone){
        font-size: 2rem;
        margin-bottom: 2.5rem;
        margin-top: 2.5rem;
    }

    @include response(tab-port){
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
        margin-top: 2.5rem;
    }
}