<div class="main_content">
        <div class="form_container">
            <form [formGroup]="storyForm" autocomplete="off" novalidate (ngSubmit) = onSubmit($event) class="form">
                <textarea type="text" class="form__input" formControlName = "storyContent" required></textarea>
                
                <button type="submit" class="btn btn-post" [disabled] = "!storyForm.valid"  >Создать</button>
            </form>
        </div>           
        <div class="form_container" *ngIf='stories$ | async as stories'>
            <app-story class="storyBox" *ngFor = "let story of stories"  [story] = "story"></app-story> 
        </div>
        
    

</div>
