<div class="header">
    <div class="header__container">
      <div class="header__logobox">
        <a href="#" class="logo_link">
            <img class="logo-img" src="assets/img/svg/logo-header.svg" alt="">
        </a>
    </div>
    <div class="header__blog-title">
        <h1 class="primary-heading">Детские рассказы</h1>
    </div>
    </div> 
    <div class="header__nav">
      <ul class="header__navigation-items">
        <li *ngIf="!isAuth">
          <a routerLink="/signup">Signup</a>
        </li>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isAuth">
          <a routerLink="/training">Training</a>
        </li>
        <li *ngIf="isAuth">
          <a style="cursor: pointer" (click)="onLogout()">Logout</a>
        </li>
      </ul> 
    </div>
           
</div>
