
$dark-grey:rgb(47, 49, 48);
$medium-grey2:rgb(129, 131, 130);
$medium-grey:rgb(189, 192, 190);
$light-grey:rgb(236, 240, 238);

$light-green:rgb(213, 236, 224);
$medium-green:rgb(83, 228, 153);
$medium-green2:rgb(79, 175, 125);
$dark-green:rgb(34, 105, 76);

$black-color:rgb(11, 12, 12);

// $bp-largest:75em; // 1200px (1200/16=75%)
// $bp-large:68.75em; //1100px (1100/16=68.75%)
// $bp-medium:56.25em; //900px (900/16=56.25%)
// $bp-small:37.5em; //600px (600/16=37.5%)
// $bp-smallest:31.25em; //500px (500/16=31.25%)
// $bp-mobileL:26.56em; //425px (425/16=26.56%)
// $bp-mobileM:23.44em; //375px (375/16=23.44%)
// $bp-phone:20em; //320px (320/16=20%)