<div class="story">
    <!-- <h2 class="story__title">{{story.content.slice(0, 30)}} <span>{{story.date | date}}</span></h2> -->
    <h2 class="story__title">{{story.title}}
        <!-- <span>{{story.date}}</span> -->
    </h2>
    
    <div class="story__content">{{story.content}}</div>
    <div class="story__content">Автор: {{story.author}} </div>
    <button class="btn btn-edit" ngClick = edit()>Редактировать</button>
    <button class="btn btn-delete" ngClick = delete()>Удалить</button>
</div>
