@import '../abstracts/mixins';

body{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Amatic SC', cursive;
    line-height: 1.7;
}

.primary-heading{
    text-transform: uppercase;
    color:$dark-green;
    font-size: 7rem; 
    
    @include response(tab-port){
        font-size: 5rem;      
    }
    
    @include response(phone){
        font-size: 4.5rem;
        padding: 0;        
    }
}

.secondary__heading{
    text-transform: uppercase;
    font-size: 4rem;

    @include response(phone){
        font-size: 3rem;
    }
}